body{
    font: 20px arial,sans-serif;
    

}

.navbar{
    background-color:#088A08;
    
}
.navbar-nav{
    text-align: left;

}

.quem-somos{
    background-color:#2E9AFE;
    color: white;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color:#FF8000;
    color:white
}
.nav-img{
    max-width: 100px;
    max-height: 100px;
}

.bg-footer{
    background-color: black;
    color: white;
}